---
import "~/styles/globals.css";

import { ImageIcon } from "lucide-react";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Remover fundo imagem gratuitamente" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta
      property="og:image"
      content="https://removerfundodeimagem.com/og.png"
    />
  </head>
  <body>
    <header
      class="border-b flex h-16 items-center justify-center px-4 bg-white sr-only"
    >
      <a class="mr-6 flex items-center space-x-2 font-semibold gap-2" href="/"
        ><ImageIcon />Remover fundo de imagem</a
      >
    </header>
    <slot />
  </body>
</html>
